:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  }
  $font-stack:'Times New Roman', serif;

  

  body {
    background: var(--greyLight-1);
  }

  html {
    background: var(--greyLight-1);
  }
  .row {
    background: var(--greyLight-1);
  }

  .navbar{
    background-color: var(--greyDark);
    a{
      font-family: $font-stack;
    }
  }
  .header{
    height: 70px;
    background-color: var(--greyLight-1);
  }

  .card{
    width: 18rem;
    height: 200px;
    margin :auto;
  }

  .srch
{
    display: block;
    text-align: center;


form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
}

.dropdown{
  width: 60%;
}

.outputTable{
  width : 90%;
  display: flex;
  margin: auto;  
  background-color:  var(--greyLight-1);;
}



.container {
  width: 100%;

}
